.ride-details-info-itema {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.emptyBox {
  width: 20px; /* Adjust the width as needed */
}

.ride-details-info-labela {
  width:270px; /* Adjust the width as needed */
  font-weight: bold;
}

.ride-details-info-value-wrappera {
  display: flex;
  flex-direction: column;
}

.ride-details-info-value-wrappera {
  display: inline-block;
  vertical-align: middle;
}

.ride-details-info-valuea {
  margin-right: 5px;
}

.lightgrey{
  color: lightslategray;
}
.owner-phone,
.phone-separator {
  margin-left: 5px;
}