@font-face {
    font-family: 'Radio Canada';
    src: url('../fonts/RadioCanada-Regular.ttf');
}
/* 
#header {
    position: absolute;
    background-color: #231F20;
    width: 100vw;
    height: 10%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.header-component {
    font-family: 'Radio Canada';
    font-size: large;
    color: #FFFFFF;
    background: none;
    border: none;
}

.header-component:hover {
    color: #D5D5D5;
}
*/
.header-browse-rides {
    font-family: 'Radio Canada';
    font-size: large;
    color: #FFFFFF;
    background-color: #FA362F;
    border: none;
    height: 65%;
    width: 120px;
    margin-right: 50px;
    text-align: center;
}

.header-browse-rides:hover{
    background-color: #9B9B9B;
} 

/* src/styles/DesignComponents.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-left {
  flex: 0 1 auto; /* Adjust the flex property to auto-size the container */
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  gap: 1rem;
}

.header-component, .header-browse-rides {
  color: white;
  text-decoration: none;
}

.header-component:hover, .header-browse-rides:hover {
  text-decoration: underline;
}

button.header-component {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

button.header-component:hover {
  text-decoration: underline;
}
