/* FormStyles.css */

.form-container1 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-checkbox-label {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.form-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Add margin to the top and bottom of the buttons */
    background-color: #fc2201;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* UpdateForm.css */
.update-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.update-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.update-form label {
  display: block;
  margin-bottom: 1rem;
}

.update-form label input[type="text"],
.update-form label input[type="email"],
.update-form label input[type="password"],
.update-form label input[type="tel"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.checkbox-container input {
  margin-right: 0.5rem;
}

.confirm-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #c0392b;
}

.form-title{
  font-family: Radio Canada;
}