@font-face {
  font-family: 'Radio Canada';
  src: url('../fonts/RadioCanada-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Radio Canada';
  color: #231F20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}