/* LandingPage.css */

.landing-container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button-2 {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #21dbdf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}

.action-link {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.action-link:hover {
  color: #007bff;
}

.sign-out-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #c82333;
}
