.profile-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Adjust max-width as needed */
  text-align: center;
}

.profile-item {
  margin-bottom: 10px;
  text-align: left;
}

.edit-profile-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #fa4903;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: #9B9B9B;
}

.reviews-container {
  margin-top: 20px;
  text-align: left;
}
