.my-rides-container{
  margin:auto;
  width: 50vw;
}

.ride-preview {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    width: 90%;
    height:120px;
    border-radius: 5px;
    margin-left : 5%;
  }
  .ride-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    /*overflow-y: scroll; /* Enable vertical scrolling */
  }

  .ride-list-container {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;

  }
  .ride-item:hover {
    transform: scale(1.01);
  }

  .no-top-padding{
    padding-top: 0;
  }
  
  .ride-item {
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .ride-list-preview {
    display: flex;
  }
  
  .ride-preview-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .ride-preview-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
  }
  
  .ride-preview-city {
    font-size: 18px;
    color: #666;
    margin: 0px;
  }
  
  .ride-preview-description {
    margin-bottom: 10px;
  }
  
  .ride-preview-date-time {
    font-size: 16px;
    color: #999;
    padding-right: 10%;
  }

.ride-preview-date-time p{
    margin: 0;
  }

  .circular-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 9999;
    cursor: pointer;
  }
  
  .cross {
    position: relative;
    width: 30px;
    height: 30px;
  }
  
  .cross::before,
  .cross::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .cross::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
  }
  
  .cross::before {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    margin-left: -2px;
  }
  
  .circular-button:hover {
    transform: scale(1.10);
  }
  
  .circular-button:hover{
    transform: scale(1.10);
  }